.networksidebar {
    position: sticky;
    top: 80px;
    flex: 0.3;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}

.networksidebar__avatar {
    margin-bottom: 10px;
}

.networksidebar__top > h4 {
    color: gray;
    font-size: 12px;
}

.networksidebar__top > h2 {
    font-size: 18px;
}

.networksidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.networksidebar__top > img {
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.networksidebar__stat {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding: 2px;
}


.networksidebar__stat:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black !important;
    padding: 2px;
}

.networksidebar__stat > p {
    color: gray;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
}

.networksidebar__icons {
    display: flex;
    color: gray;
}

.networksidebar__icons >p {
    padding-left: 15px;
}


.networksidebar__stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;

}
.networksidebar__stats > h3{
    font-weight: bold;
    /* margin-right: 125px; */
    margin-bottom: 15px;
}

.networksidebar__stats > h3:hover {
    /* font-weight: bold; */
    /* margin-right: 125px; */
    /* margin-bottom: 15px; */
    color: black !important;
}


.networksidebar__statNumber {
    font-weight: bold;
}

.networksidebar__bottom {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.networksidebar__bottom > p {
    font-size: 13px;
    padding-bottom: 10px;
}

.networksidebar__recentItem {
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.networksidebar__recentItem:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.networksidebar__hash {
    margin-left: 10px;
    margin-right: 5px;
}